<body style="background-image:url('/imagenes/logoPP.png');background-size: contain;background-repeat: no-repeat;">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

// Obtener el correo introducido por el usuario
const correoIntroducido = urlParams.get('email')//prompt('Introduce tu correo electrónico:');

// Realizar una solicitud GET para obtener el archivo JSON
$.getJSON('contenido/python/codigos_encriptados.json', function(data) {
  // Validar el correo introducido y obtener el código encriptado correspondiente
  const codigoEncriptado = data[correoIntroducido];

  // Realizar la desencriptación
  //const codigoDesencriptado = desencriptar(codigoEncriptado);

  // Comprobar si el código desencriptado es válido (en este caso, debe ser "PPCG")
  if (codigoEncriptado == 'PPCG') {
    location.href='unidades-itinerarios.html';

  } else {
    alert('El correo electrónico no es válido.');  }
})
.fail(function() {
  console.error('Error al cargar el archivo JSON.');
});
</script>
</body>