<script>

const registros = [
  {
    "titulo": "UNIDAD DE TRABAJO 1: <br>EL MARKETING",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": "<p>1. Concepto de marketing. </p><p>2. El marketing en la economía. </p><p>3. El marketing en la gestión de las empresas.</p> <p>4. Tipos de marketing</p> <p>4.1. Micromarketing y macromarketing.</p><p>4.2. Marketing externo y marketing interno. </p><p>4.3. Marketing estratégico y marketing operativo. </p> <p>4.4. Marketing empresarial y marketing de empresas sin ánimo de lucro.</p><p>4.5. Otros. </p>",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": "<p>1. Evalúa las oportunidades de mercado, para el lanzamiento de un producto, la entrada en nuevos mercados o la mejora del posicionamiento del producto o servicio, analizando las variables de marketing-mix y las tendencias y evolución del mercado.</p><p>7. Elabora el plan de marketing, seleccionando la información de base del producto, precio, distribución y comunicación y relacionando entre sí las variables del marketing-mix.</p><p>Objetivo trabajado parcialmente, relativo al concepto, estructura, finalidad y contenido de las primeras fases del plan de marketing: análisis de la situación, determinación de objetivos y estrategias generales.</p>",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": "<p>a) Se han analizado los datos disponibles relativos a la oferta y demanda del producto o servicio, comparándolos con los de la competencia y con los productos sustitutivos y complementarios.</p><p>b) Se ha analizado información sobre la evolución y tendencia de las ventas por productos, líneas de productos o marcas, o según el tipo de clientes, calculando la cuota de mercado y las tasas de variación, utilizando la aplicación informática adecuada.</p><p>c) Se ha analizado el perfil y hábitos de compra de los clientes reales y potenciales con el fin de adecuar el producto o servicio a las necesidades, motivaciones y hábitos de compra.</p><p>d) Se han identificado nichos de mercado en los que la empresa puede tener oportunidades comerciales, aplicando técnicas de análisis adecuadas.</p><p>e) Se han identificado los segmentos o grupos de clientes con potencial de compra y comercialmente atractivos para la empresa, utilizando criterios de volumen y frecuencia de compra, grado de fidelización, identificación con la marca y capacidad de diferenciación del producto, entre otros.</p><p>f) Se han elaborado informes con las conclusiones de los análisis de datos realizados, utilizando la aplicación informática adecuada.</p><p>g) Se han caracterizado las etapas o fases del proceso de planificación comercial y se han identificado las utilidades del plan de marketing.</p><p>h) Se han seleccionado los datos o información de base que será objeto de análisis.</p><p>i) Se ha realizado un análisis de la situación, tanto externo como interno (DAFO), utilizando técnicas estadísticas y aplicaciones informáticas adecuadas.</p><p>j) Se han establecido los objetivos que se pretenden conseguir y se han elegido las estrategias de marketing más adecuadas para alcanzarlos.</p>",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1-4"
      },
      {
        "tit": "Cuestionario",
        "contenido": "1-4"
      },
      {
        "tit": "Simulación",
        "contenido": "1-4"
      },
      {
        "tit": "Desafío",
        "contenido": "3"
      },
      {
        "tit": "Investiga",
        "contenido": "4"
      },
      {
        "tit": "Presentación",
        "contenido": "4"
      },
      {
        "tit": "Portafolio",
        "contenido": "4"
      },
      {
        "tit": "Magistral",
        "contenido": "4"
      },
      {
        "tit": "Debate",
        "contenido": "4"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": "<p>12</p>",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": "<p>Juego (1)</p><p>Desafío (1)</p><p>Portafolio (7)</p>",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": "<p>Analizar las variables de marketing mix para conseguir los objetivos</p><p>Planificar y desarrollar acciones de marketing digital</p><p>Resolver situaciones, problemas o contingencias.</p><p>Organizar y coordinar equipos de trabajo con responsabilidad.</p><p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p><p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p><p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 2: <br>MARKETING ESTRATÉGICO Y MARKETING OPERATIVO",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": "<p>1. La planificación de marketing.</p><p>1.1. Concepto de plan de marketing.</p><p>1.2. Utilidades del plan de marketing.</p><p>1.3. Características del plan de marketing.</p><p>1.4. Estructura del plan de marketing.</p><p>2. Evaluación de las oportunidades de mercado de una empresa.</p><p>2.1. Análisis de situación: externa e interna.</p><p>2.2. El DAFO.</p><p>2.3. La matriz MRG.</p><p>2.4. Selección de mercados objetivo.</p><p>3. Determinación de las estrategias comerciales.</p><p>4. La segmentación del mercado.</p><p>4.1. Selección de mercados objetivo.</p><p>5. El marketing operativo.</p><p>5.1. Funciones del marketing operativo.</p>",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": "<p>1. Evalúa las oportunidades de mercado, para el lanzamiento de un producto, la entrada en nuevos mercados o la mejora del posicionamiento del producto o servicio, analizando las variables de marketing-mix y las tendencias y evolución del mercado.</p><p>7. Elabora el plan de marketing, seleccionando la información de base del producto, precio, distribución y comunicación y relacionando entre sí las variables del marketing-mix.</p><p>Objetivo trabajado parcialmente, relativo al concepto, estructura, finalidad y contenido de las primeras fases del plan de marketing: análisis de la situación, determinación de objetivos y estrategias generales.</p>",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": "<p>a) Se han analizado los datos disponibles relativos a la oferta y demanda del producto o servicio, comparándolos con los de la competencia y con los productos sustitutivos y complementarios.</p><p>b) Se ha analizado información sobre la evolución y tendencia de las ventas por productos, líneas de productos o marcas, o según el tipo de clientes, calculando la cuota de mercado y las tasas de variación, utilizando la aplicación informática adecuada.</p><p>c) Se ha analizado el perfil y hábitos de compra de los clientes reales y potenciales con el fin de adecuar el producto o servicio a las necesidades, motivaciones y hábitos de compra.</p><p>d) Se han identificado nichos de mercado en los que la empresa puede tener oportunidades comerciales, aplicando técnicas de análisis adecuadas.</p><p>e) Se han identificado los segmentos o grupos de clientes con potencial de compra y comercialmente atractivos para la empresa, utilizando criterios de volumen y frecuencia de compra, grado de fidelización, identificación con la marca y capacidad de diferenciación del producto, entre otros.</p><p>f) Se han elaborado informes con las conclusiones de los análisis de datos realizados, utilizando la aplicación informática adecuada.</p><p>g) Se han caracterizado las etapas o fases del proceso de planificación comercial y se han identificado las utilidades del plan de marketing.</p><p>h) Se han seleccionado los datos o información de base que será objeto de análisis.</p><p>i) Se ha realizado un análisis de la situación, tanto externo como interno (DAFO), utilizando técnicas estadísticas y aplicaciones informáticas adecuadas.</p><p>j) Se han establecido los objetivos que se pretenden conseguir y se han elegido las estrategias de marketing más adecuadas para alcanzarlos.</p>",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1"
      },
      {
        "tit": "Investiga",
        "contenido": "2"
      },
      {
        "tit": "Desafío",
        "contenido": "2"
      },
      {
        "tit": "Documentos",
        "contenido": "3"
      },
      {
        "tit": "Analiza",
        "contenido": "4"
      },
      {
        "tit": "Debate",
        "contenido": "5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": "<p>12</p>",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": "<p>Juego (1)</p><p>Desafío (1)</p><p>Portafolio (7)</p>",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": "<p>Analizar las variables de marketing mix para conseguir los objetivos</p><p>Planificar y desarrollar acciones de marketing digital</p><p>Resolver situaciones, problemas o contingencias.</p><p>Organizar y coordinar equipos de trabajo con responsabilidad.</p><p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p><p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p><p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 3: POLÍTICA DE PRODUCTO",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": "<p>1.El producto como instrumento de marketing.</p><p>1.1 Atributos del producto.</p><p>1.2 Dimensiones del producto.</p><p>2 Clases de productos.</p><p>3. La diferenciaci&oacute;n del producto.</p><p>4 La marca y su regulaci&oacute;n.</p><p>4.1 Finalidad de la marca.</p><p>4.2 Tipos de marcas.</p><p>4.3 Estrategias de marca.</p><p>5 El ciclo de vida del producto.</p><p>5.1 El proceso de adopci&oacute;n de nuevos productos.</p><p>5.2 Estrategias de ciclo de vida.</p>",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>2. Define la política del producto, analizando las características, atributos y utilidades del producto o servicio para su adecuación a las necesidades y perfil de los clientes a los que va dirigido.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han identificado los atributos del producto o servicio, en función de su naturaleza, su utilidad y las necesidades que puede satisfacer y de la percepción y motivos de compra del consumidor al que va dirigido.</p> <p>b) Se ha elaborado una base de datos de los productos, líneas, familias y categorías de productos que comercializa la empresa, incorporando la información relevante sobre las características técnicas, usos, presentación, envase y marca de los mismos.</p> <p>c) Se ha realizado un análisis comparativo de los productos o servicios con los de la competencia, comparando las características técnicas, utilidades, presentación, marca y envase, entre otros.</p> <p>d) Se ha determinado el posicionamiento del producto, servicio o gama de productos en el mercado utilizando distintos ratios, tasa de crecimiento, cuotas de mercado, matriz de crecimiento-participación de BCG y otras técnicas de análisis.</p> <p>e) Se ha analizado el ciclo de vida de diferentes productos para determinar en qué fase del mismo se encuentran.</p> <p>f) Se ha actualizado la información sobre productos o servicios, recogiendo la información de la red de ventas, los distribuidores y las tiendas o grupos de clientes utilizando la herramienta informática adecuada.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Investiga",
        "contenido": "1"
      },
      {
        "tit": "Debate",
        "contenido": "2"
      },
      {
        "tit": "Magistral",
        "contenido": "3"
      },
      {
        "tit": "Analiza",
        "contenido": "4"
      },
      {
        "tit": "Documentos",
        "contenido": "5"
      },
      {
        "tit": "Cuestionario",
        "contenido": "5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>12</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p>Debate (2)</p> <p>Desafío (2)</p> <p>Cuestionario (2)</p> <p>Portafolio (2)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 4: ESTRATEGIAS DE LA POLÍTICA DE PRODUCTO",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La política de producto.</p> <p>1.1. Objetivos.</p> <p>2. La cartera de productos de una empresa.</p> <p>2.1. Análisis de la cartera de productos.</p> <p>3. Estrategias de la política de producto.</p> <p>4. Proceso de lanzamiento de nuevos productos.</p> <p>5. Imagen y posicionamiento de productos y marcas.</p> <p>5.1. Estrategias de posicionamiento.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>2. Define la política de producto, analizando las características, atributos y utilidades del producto o servicio para su adecuación a las necesidades y perfil de los clientes a los que va dirigido.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han definido las posibles estrategias comerciales en política de producto, teniendo en cuenta el ciclo de vida del producto y el perfil del cliente al que va dirigido.</p> <p>b) Se han elaborado informes sobre productos, servicios o líneas de productos, analizando la imagen de marca, el posicionamiento y las posibles estrategias comerciales.</p> <p><strong>ACTIVIDADES </strong></p> <p>Investiga (1)</p> <p>Debate (2)</p> <p>Opinión (1)</p> <p>Desafío (4)</p> <p>Caso práctico (5)</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Investiga",
        "contenido": "1"
      },      {
        "tit": "Debate",
        "contenido": "2"
      },      {
        "tit": "Opina",
        "contenido": "1"
      },      {
        "tit": "Desafío",
        "contenido": "4"
      },      {
        "tit": "Caso práctico",
        "contenido": "5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p>Debate (2)</p> <p>Desafío (2)</p> <p>Cuestionario (2)</p> <p>Portafolio (2)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 5: LA POLÍTICA DE PRECIO",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. El precio como instrumento de marketing.</p> <p>1.1. El proceso de determinación del precio de un producto.</p> <p>1.2. Normativa en materia de precios.</p> <p>2. Factores que influyen en la determinación del precio.</p> <p>3. Cálculo del coste y de los márgenes de un producto.</p> <p>3.1. Costes.</p> <p>3.2. Márgenes.</p> <p>4. Métodos utilizados para fijar precios.</p> <p>4.1. Métodos objetivos.</p> <p>4.2. Métodos basados en la competencia.</p> <p>4.3. Métodos basados en la demanda.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>3. Define la política de precios de los productos o servicios, analizando los costes, la demanda, la competencia y demás factores que intervienen en la formación y cálculo de los precios.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se ha identificado la normativa legal vigente relativa a precios y comercialización de los productos o servicios, para su aplicación en la política de precios de la empresa.</p> <p>b) Se han identificado los factores que determinan el precio de venta del producto, considerando los costes de fabricación y distribución, las comisiones, márgenes y descuentos y teniendo en cuenta el ciclo de vida del producto, su posicionamiento y la estrategia de comercialización.</p> <p>c) Se ha calculado el precio de venta del producto, a partir del escandallo de costes de fabricación y distribución.</p> <p>d) Se ha calculado el margen bruto del producto o servicio, a partir del análisis de los componentes del coste, el punto muerto y la tendencia del mercado, proponiendo posibles mejoras en los márgenes.</p> <p>e) Se ha realizado un análisis comparativo del precio del producto o servicio respecto a los de la competencia, analizando las causas de las diferencias.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1-2"
      },
      {
        "tit": "Desafío",
        "contenido": "2"
      },
      {
        "tit": "Caso práctico",
        "contenido": "3"
      },
      {
        "tit": "Debate",
        "contenido": "4"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>12</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p>Debate (3)</p> <p>Desafío (3)</p> <p>Caso práctico (3)</p> <p>Portafolio (3)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 6: ESTRATEGIAS DE PRECIOS",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La política de precio.</p> <p>2. Objetivos de la política de precio.</p> <p>3. Efectos del precio sobre la demanda.</p> <p>3.1. Elasticidad precio de la demanda.</p> <p>3.2. Elasticidad cruzada de la demanda.</p> <p>4. Estrategias de precios.</p> <p>4.1. Estrategias de precio para nuevos productos.</p> <p>4.2. Estrategias de precios basadas en la competencia.</p> <p>4.3. Estrategias de precio basadas en la demanda.</p> <p>4.4. Estrategias de precios para la cartera de productos.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>3. Define la política de precios de los productos o servicios, analizando los costes, la demanda, la competencia y demás factores que intervienen en la formación y cálculo de los precios.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se ha evaluado el efecto de las variaciones en los costes de fabricación y comercialización sobre el precio de venta final del producto y sobre el volumen de ventas, analizando la elasticidad de la demanda del producto o servicio.</p> <p>b) Se han analizado las distintas estrategias en política de precios, teniendo en cuenta los costes, el ciclo de vida del producto, los precios de la competencia y las características del mercado al que va dirigido.</p> <p>c) Se han elaborado informes sobre precios de productos, servicios o líneas de productos, para la toma de decisiones.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1,2"
      },
      {
        "tit": "Caso práctico",
        "contenido": "3"
      },
      {
        "tit": "Documentos",
        "contenido": "4"
      },
      {
        "tit": "Cuestionario",
        "contenido": "4"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Caso práctico (3)</p> <p>Cuestionario (3)</p> <p>Portafolio (3)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 7: LA DISTRIBUCIÓN COMERCIAL.",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La distribución comercial como instrumento de marketing.</p> <p>1.1. Los costes de distribución: estructura y cálculo.</p> <p>2. Los intermediarios comerciales.</p> <p>2.1. Funciones de los intermediarios comerciales.</p> <p>2.2. Tipos de intermediarios.</p> <p>3. Objetivos de la política de distribución.</p> <p>3.1. Comercio independiente.</p> <p>3.2. Comercio asociado.</p> <p>4. Métodos de venta.</p> <p>4.1. Venta en establecimiento.</p> <p>4.2. Venta sin establecimiento.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>4. Selecciona la forma y canal de distribución más adecuado para cada producto, servicio o gama de productos, analizando las alternativas de distribución disponibles.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han identificado las funciones de la distribución comercial, valorando su importancia estratégica dentro del marketing-mix.</p> <p>b) Se han caracterizado las distintas formas de venta, en función del sector, el tipo de producto o servicio y tipo de cliente.</p> <p>c) Se ha calculado el coste de distribución comercial considerando todos los elementos que lo integran.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1"
      },
      {
        "tit": "Analiza",
        "contenido": "2"
      },
      {
        "tit": "Caso práctico",
        "contenido": "2"
      },
      {
        "tit": "Investiga",
        "contenido": "3"
      },
      {
        "tit": "Cuestionario",
        "contenido": "3"
      },
      {
        "tit": "Opina",
        "contenido": "4"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Caso práctico canal (4)</p> <p>Investigación (4)</p> <p>Cuestionario (4)</p> <p>Opina (4)</p> <p>Simulación (4)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 8: ESTRATEGIAS DE LA POLÍTICA DE DISTRIBUCIÓN.",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La política de distribución.</p> <p>1.1. Objetivos.</p> <p>2. El canal de distribución.  </p> <p>2.1. Estructura de los canales de distribución.</p> <p>2.2. Factores que condicionan la elección del canal de distribución.</p> <p>3. Estrategias de distribución.  </p> <p>3.1. Estrategias de distribución del productor.</p> <p>3.2. Estrategias de integración en el canal.</p> <p>4. Contratos de intermediación y distribución comercial.</p> <p>4.1. Contratos de intermediación.</p> <p>4.2. El contrato de distribución.</p> <p>4.3. El contrato de franquicia.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>4. Selecciona la forma y canal de distribución más adecuado para cada producto, servicio o gama de productos, analizando las alternativas de distribución disponibles.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han clasificado los distintos canales de distribución en función del número y tipo de intermediarios, grado de asociación entre los mismos y funciones que realizan.</p> <p>b) Se ha realizado un análisis comparativo de distintas estructuras de distribución comercial, analizando los niveles del canal, número y tipo de intermediarios y valorando la posibilidad de distribución online.</p> <p>c) Se ha seleccionado el canal de distribución más adecuado, en función de la estrategia de distribución propia y ajena y de la cobertura del mercado que se pretende alcanzar.</p> <p>d) Se han analizado los distintos tipos de contratos de intermediación comercial en los que se formaliza la relación entre los fabricantes y la red de distribución y venta.</p> <p>e) Se han elaborado informes sobre distribución comercial, a partir de los datos de análisis de costes, tiempos, intermediarios disponibles y estrategias viables, para la toma de decisiones.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1,4"
      },
      {
        "tit": "Documentos",
        "contenido": "2"
      },
      {
        "tit": "Investiga",
        "contenido": "3"
      },
      {
        "tit": "Opina",
        "contenido": "4"
      },
      {
        "tit": "Simulación",
        "contenido": "1-4"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Opina (4)</p> <p>Simulación (4)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 9: LA POLÍTICA DE COMUNICACIÓN.   ",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La comunicación comercial.</p> <p>2. El proceso de comunicación comercial.</p> <p>2.1. Elementos básicos.</p> <p>3. La política de comunicación en la empresa.</p> <p>3.1. Elementos básicos.</p> <p>3.2. Los nuevos instrumentos de la política de comunicación.</p> <p>4. El briefing de productos y marcas.</p> <p>4.1. Contenido del briefing.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>5. Selecciona las acciones de comunicación más adecuadas para lanzar nuevos productos y servicios o prolongar su permanencia en el mercado y reforzar así la imagen corporativa y de marca, evaluando las distintas alternativas disponibles.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han definido los objetivos de la política de comunicación, considerando las características del público objetivo o targets que se pretenden alcanzar.</p> <p>b) Se han definido los objetivos y finalidad del briefing de un producto, servicio o marca, para el desarrollo de las acciones de marketing.</p> <p>c) Se ha caracterizado la estructura del briefing y los elementos que lo componen, en función del tipo de acción de marketing y del destinatario del mismo.</p> <p>d) Se han seleccionado los datos que se requieren para elaborar la información de base o briefing del producto, servicio o marca, según el tipo de acción que se va a llevar a cabo.</p> <p>e) Se ha analizado la información contenida en un briefing, convenientemente caracterizado, señalando el objeto de la misma y obteniendo conclusiones relevantes.</p> <p>f) Se ha redactado el briefing de un producto o servicio para una acción de comunicación determinada, de acuerdo con las especificaciones recibidas y utilizando herramientas informáticas y de presentación.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Documentos",
        "contenido": "1"
      },
      {
        "tit": "Magistral",
        "contenido": "2"
      },
      {
        "tit": "Cuestionario",
        "contenido": "1,2"
      },
      {
        "tit": "Analiza",
        "contenido": "3"
      },
      {
        "tit": "Desafío",
        "contenido": "4"
      },
      {
        "tit": "Simulación",
        "contenido": "5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Cuestionario (4)</p> <p>Desafío (4)</p> <p>Simulación (1-5)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 10: EL MIX DE COMUNICACIÓN I",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La venta personal.</p> <p>1.1. La finalidad de la venta personal.</p> <p>1.2. Características de la venta personal.</p> <p>1.3. El proceso de venta personal.</p> <p>2. Las relaciones públicas.</p> <p>2.1. Finalidad.</p> <p>2.2. Características.</p> <p>2.3. Instrumentos de relaciones públicas.</p> <p>3. La promoción de ventas.</p> <p>3.1. Características.</p> <p>3.2. Instrumentos de promoción de ventas.</p> <p>4. El marketing directo.</p> <p>4.1. Características.</p> <p>4.2. Instrumentos de marketing directo.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>5. Selecciona las acciones de comunicación más adecuadas para lanzar nuevos productos y servicios o prolongar su permanencia en el mercado y reforzar así la imagen corporativa y de marca, evaluando las distintas alternativas disponibles.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han caracterizado las distintas formas y tipos de acciones que integran el mix de comunicación.</p> <p>b) Se han diferenciado los instrumentos y tipos de acciones de comunicación, en función del público objetivo, imagen corporativa y los objetivos y estrategias de la organización.</p> <p>c) Se ha realizado un análisis comparativo de distintas acciones de comunicación en función del impacto previsto, los objetivos, el presupuesto y medios y los soportes disponibles en el mercado de medios de comunicación.</p> <p>d) Se han definido las variables de frecuencia, periodo y plazos de las acciones de comunicación, en función de criterios de eficiencia y efectividad del impacto en el público objetivo, de los logros de acciones anteriores, las acciones de los competidores y el presupuesto disponible.</p> <p>e) Se ha evaluado la capacidad de la organización para ejecutar o contratar las acciones de comunicación, en función de los recursos disponibles y de los medios de comunicación que han de utilizarse.</p> <p>f) Se han seleccionado las acciones de comunicación y promoción más adecuada para lanzar nuevos productos o prolongar su permanencia en el mercado, reforzando la imagen corporativa y de marca.</p> <p>g) Se ha elaborado un informe base de la política de comunicación, conteniendo los objetivos y targets o público objetivo y el análisis de los medios disponibles.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1"
      },
      {
        "tit": "Desafío",
        "contenido": "1"
      },
      {
        "tit": "Documentos",
        "contenido": "2"
      },
      {
        "tit": "Debate",
        "contenido": "3"
      },
      {
        "tit": "Opina",
        "contenido": "4"
      },
      {
        "tit": "Cuestionario",
        "contenido": "3,4"
      },
      {
        "tit": "Simulación",
        "contenido": "5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Desafío (5)</p> <p>Debate (5)</p> <p>Opina (5)</p> <p>Cuestionario (5)</p> <p>Simulación (1-5)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 11: EL MIX DE COMUNICACIÓN II.",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. La publicidad.</p> <p>1.1. Características.</p> <p>1.2. Finalidad.</p> <p>2. El proceso de comunicación publicitaria.</p> <p>2.1. El mensaje publicitario.</p> <p>2.2. Los estilos publicitarios.</p> <p>3. Regulación de la publicidad.</p> <p>3.1. Ley 34/1988, de 11 de noviembre, General de Publicidad.</p> <p>3.2. Ley 7/2010, de 31 de marzo, General de la Comunicación Audiovisual.</p> <p>3.3. Ley 3/1991, de 10 de enero, de Competencia Desleal.</p> <p>4. Medios y soportes publicitarios.</p> <p>4.1. La prensa.</p> <p>4.2. Publicidad en radio.</p> <p>4.3. Publicidad en cine.</p> <p>4.4. Publicidad exterior.</p> <p>4.5. Publicidad en los lugares de venta (PLV).</p> <p>4.6. Internet.</p> <p>4.7. Publicidad en televisión.</p> <p>4.8. Publicidad directa.</p> <p>5. La audiencia de los medios y su medida.</p> <p>5.1. La medida de la audiencia de la publicidad en medios tradicionales: televisión, radio y prensa.</p> <p>5.2. La medida de la audiencia de la publicidad exterior.</p> <p>5.3. La medida de la audiencia de la publicidad en intenet.</p> <p>6. La medida de la eficacia de la publicidad.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>5. Selecciona las acciones de comunicación más adecuadas para lanzar nuevos productos y servicios o prolongar su permanencia en el mercado y reforzar así la imagen corporativa y de marca, evaluando las distintas alternativas disponibles.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han caracterizado las distintas formas y tipos de acciones que integran el mix de comunicación.</p> <p>b) Se han diferenciado los instrumentos y tipos de acciones de comunicación, en función del público objetivo, imagen corporativa y los objetivos y estrategias de la organización.</p> <p>c) Se ha realizado un análisis comparativo de distintas acciones de comunicación en función del impacto previsto, los objetivos, el presupuesto y medios y los soportes disponibles en el mercado de medios de comunicación.</p> <p>d) Se han definido las variables de frecuencia, periodo y plazos de las acciones de comunicación, en función de criterios de eficiencia y efectividad del impacto en el público objetivo, de los logros de acciones anteriores, las acciones de los competidores y el presupuesto disponible.</p> <p>e) Se ha evaluado la capacidad de la organización para ejecutar o contratar las acciones de comunicación, en función de los recursos disponibles y de los medios de comunicación que han de utilizarse.</p> <p>f) Se han seleccionado las acciones de comunicación y promoción más adecuadas para lanzar nuevos productos o prolongar su permanencia en el mercado, reforzando la imagen corporativa y de marca.</p> <p>g) Se ha elaborado un informe base de la política de comunicación, conteniendo los objetivos y targets o público objetivo y el análisis de los medios disponibles.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Magistral",
        "contenido": "1"
      },
      {
        "tit": "Documentos",
        "contenido": "2"
      },
      {
        "tit": "Investiga",
        "contenido": "3"
      },
      {
        "tit": "Debate",
        "contenido": "4"
      },
      {
        "tit": "Documentos",
        "contenido": "5,6"
      },
      {
        "tit": "Cuestionario (5,6)",
        "contenido": "5,6"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>14</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Cuestionario (5)</p> <p>Debate (5)</p> <p>Simulación (1-5)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  },
  {
    "titulo": "UNIDAD DE TRABAJO 12: ELABORACIÓN, EJECUCIÓN Y SEGUIMIENTO DEL PLAN DE MARKETING.   ",
    "tituloContenidos": "ÍNDICE DE CONTENIDOS",
    "textoContenidos": " <p>1. Elaboración del plan de marketing.</p> <p>2. Presentación del plan de marketing.</p> <p>3. Organización y ejecución del plan de marketing.</p> <p>3.1. Redacción del calendario de actuaciones.</p> <p>4. El presupuesto del plan de marketing.</p> <p>4.1. Métodos utilizados para establecer el presupuesto del plan de marketing.</p> <p>4.2. Análisis de los resultados previstos en el plan de marketing.</p> <p>5. Seguimiento y control de las políticas y acciones del plan de marketing.</p> <p>5.1. Tipos de control sobre el plan de marketing.</p> <p>5.2. Ratios de control.</p> ",
    "tituloRA": "RESULTADOS DE APRENDIZAJE",
    "contenidoRA": " <p>6. Elabora el plan de marketing, seleccionando la información de base del producto, precio, distribución y comunicación y relacionando entre sí las variables del marketing-mix.</p> <p>7. Realiza el seguimiento y control de las políticas y acciones comerciales establecidas en el plan de marketing, evaluando su desarrollo y el grado de consecución de los objetivos previstos.</p> ",
    "tituloCE": "CRITERIOS DE EVALUACIÓN",
    "contenidoCE": " <p>a) Se han establecido las acciones de políticas del producto, precio, distribución y comunicación y las relaciones entre las mismas.</p> <p>b) Se ha elaborado el presupuesto, especificando los recursos financieros y humanos que se requieren para llevar a cabo las políticas previstas en el tiempo necesario para la puesta en práctica del plan.</p> <p>c) Se ha redactado y presentado el plan de marketing, utilizando las herramientas informáticas adecuadas.</p> <p>d) Se han establecido los procedimientos de seguimiento y control de las políticas del plan de marketing, recogiendo la información de los departamentos y agentes implicados, y de la red de venta y distribución.</p> <p>e) Se ha actualizado la información obtenida en el proceso de control de las acciones de marketing, utilizando las aplicaciones y sistemas de Información, el SIM, el CRM y otros.</p> <p>f) Se han calculado los ratios de control de las acciones del plan de marketing a partir de la información obtenida de otros departamentos, de la red de venta y del SIM.</p> <p>g) Se han comparado los resultados obtenidos con los objetivos previstos en el plan de marketing, determinando las desviaciones producidas en la ejecución del mismo.</p> <p>h) Se han propuesto medidas correctoras para subsanar las desviaciones y los errores cometidos en la ejecución de las políticas y acciones comerciales.</p> <p>i) Se han elaborado informes de control y evaluación del plan de marketing, recogiendo la información obtenida en el proceso de seguimiento, las desviaciones detectadas y la propuesta de medidas correctoras.</p> ",
    "tituloAC": "ACTIVIDADES (CONTENIDO)",
    "contenidoAC": [
      {
        "tit": "Presentación",
        "contenido": "4,5"
      },
      {
        "tit": "Debate",
        "contenido": "3,4"
      },
      {
        "tit": "Presentación",
        "contenido": "1,3"
      },
      {
        "tit": "Rubrica",
        "contenido": "1-5"
      }
    ],
    "tituloHR": "HORAS",
    "contenidoHR": " <p>30</p> ",
    "tituloIE": "INSTRUMENTOS DE EVALUACIÓN",
    "contenidoIE": " <p><strong>(RESULTADOS APRENDIZAJE)</strong></p> <p>Debate (6)</p> <p>Rubrica (6,7)</p>  ",
    "tituloCC": "COMPETENCIAS CLAVE",
    "contenidoCC": " <p>Analizar las variables de marketing mix para conseguir los objetivos</p> <p>Planificar y desarrollar acciones de marketing digital</p> <p>Resolver situaciones, problemas o contingencias.</p> <p>Organizar y coordinar equipos de trabajo con responsabilidad.</p> <p>Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad.</p> <p>Generar entornos seguros en el desarrollo de su trabajo y el de su equipo</p> <p>Supervisar y aplicar procedimientos de gestión de calidad, de accesibilidad universal y de « diseño para todos »</p> "
  }
];

// Función para convertir las claves en arrays
function convertirClavesEnArrays(registros) {
  registros.forEach(registro => {
    registro.contenidoCC = registro.contenidoCC.split('</p>').filter(Boolean).map(item => item.replace('<p>', ''));

    registro.contenidoCE = registro.contenidoCE.split('</p>').filter(Boolean).map(item => item.replace('<p>', ''));

    registro.textoContenidos = registro.textoContenidos.split('</p>').filter(Boolean).map(item => item.replace('<p>', ''));
        registro.contenidoRA = registro.contenidoRA.split('</p>').filter(Boolean).map(item => item.replace('<p>', ''));

  });
  return registros;
}

const registrosConvertidos = convertirClavesEnArrays(registros);
console.log(JSON.stringify(registrosConvertidos, null, 2));
</script>  