<sinbr>

{{GRUPO DECISIONES(TextoBoton:IDIOMA_TEXTO_BOTON_ENVIAR_CALCULAR,CssBoton:BOTON_ENVIAR_ROJO)}}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Sensibilidad al Precio (Elasticidad).</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p><b>1. </b>El precio de tu producto en el último periodo ha sido de {{VALOR_OPERANDO
                    PREC_01(T,CO);###,##0.0}}. En este ejercicio, puedes entrenarte para tomar una buena decisión de
                    precios.
                    La tabla del lado derecho de la pantalla te muestra como puedne evolucionas las ventas e ingresos de
                    tu
                    compañía en función del precio de decidas para el próximo periodo.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p><b>2.</b> En el siguiente cuestionario puedes realizar modificaciones sobre el precio medio de los
                    productos.</p>
                <p>El volumen de ventas se establecerá de acuerdo al nivel de sensibilidad o elasticidad del mercado al
                    precio. </p>
                <p><b>3.</b> Define el nivel de elasticidad al precio en el mercado. Utiliza una escala de 0,1 (muy baja
                    elasticidad al precio) a 1,9 (muy alta elasticidad al precio). Dependiendo del nivel de elasticidad
                    al
                    precio que estimes el impacto de variación de precios sobre las ventas será mayor o menor.</p>

                {{DECISION 102(Decimales:1,QUITARULTIMO,ADato:5,QuitaColumnas,inicializaRelacion:80{CO}-81{CO}-82{CO})}}
                {{DECISION 104(Decimales:0,QUITARULTIMO,ADato:5,QuitaColumnas)}}
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p><b>4. </b>En la siguiente tabla puedes observar los resultados de tu análisis.</p>
                {{INFORME INFOR_8017_B}}
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p>
                    Los datos que has conseguido reflejan las cantidades que ingresarás en total, de acuerdo a los
                    parámetros
                    introducidos.</p>
                <p>Realiza diversas pruebas modificando el nivel de precios y la elasticidad de la demanda. Podrás
                    observar que
                    <b>si subes el precio</b>, a mayor nivel de sensibilidad o elasticidad de la demanda al precio,
                    menor
                    volumen de ventas. En sentido inverso, <b>si reduces el precio</b>, a mayor nivel de sensibilidad
                    mayor
                    volumen de ventas.
                </p>
                <p>Comprueba que, al incrementar el precio, el descenso de la demada es mayor si el nivel de elasticidad
                    de la
                    demanda es más elevada. En sentido contrario, puedes comprobar que, si disminuyes el precio, el
                    incremento
                    de la demanda será menor si el nivel de sensibilidad de la demanda al precio es bajo, que si es
                    alta.</p>
                <p>De todas formas, no conoces exactamente el nivel de elasticidad al precio del mercado en el que estas
                    vendiendo tus productos, pero ten en cuenta estas reglas al tomar decisiones.</p>
            </div>
        </div>
    </div>
</section>

{{FIN GRUPO DECISIONES}}